# python compile files
*.pyc

# pycharm project settings
.idea/

# project log files
log/

# virtual environment
env/

# collected project static files
website/static/

# sqlite database file
*.sqlite3
